body {
  width: 100%;  
margin: 0;
    font-family: avenir, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    
}


/*Intro hero section*/
.hero {
    background-image: linear-gradient(to top right,#FBF38F 30%, #FBEE54);
}

#intro {
    margin: 0px;
    width: 80%;
    height: auto;
    padding: 40px 10%;
}

h1 {
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    color: #2559B1;
    padding:5%;
    margin: 0px;
    width: auto;
    overflow: visible;
    line-height: 1.2em;
    text-shadow: 0px 0px 3px grey;
}

#intro p{
    top: 200px;
    margin: 16px 0;
    color:#2559B1;
    font-weight: 500;
    width: 90%;
    padding: 0 5%;
}

#intro a {
    text-decoration: none;
    color: #F26D7D;
}

#intro a:hover {
    color: white;
    background-color:#F26D7D;
    padding: 2px;
}

/*nav list*/

#breakfasts ul{
    list-style: none;
    width:80%;
    padding: 0 10%;
    text-align: center;
    margin: 0 0 24px 0;
    display: inline-block;
    float:center;
}

#breakfasts li{
    float:left;
    width: 25%;
    display: inline;
    margin: 16px 5%;
    align-content: center;
    align-items: center;
}

#breakfasts li:hover {
    border: 3px gold dotted;
}

#breakfasts li:first-child {
    background-color: cadetblue;
    padding: 8px;
    margin-left: 0;
}

#breakfasts li:first-child:hover {
    background-color: #50C7D5;
    padding: 8px;
    margin-left: 0;
    box-shadow: 1px, 3px, 4px, black;
}

#breakfasts li:nth-child(2) {
    background-color:coral;
    padding: 8px;
    margin-left: 0;
}

#breakfasts li:nth-child(2):hover {
    background-color: #F5B098;
    padding: 8px;
    margin-left: 0;
    box-shadow: 1px, 3px, 4px, black;
}

#breakfasts li:last-child {
    background-color:#6EDA84;
    padding: 8px;
    margin-left: 0;
}

#breakfasts li:last-child:hover {
    background-color: #BAFFA2;
    padding: 8px;
    margin-left: 0;
    box-shadow: 1px, 3px, 4px, black;
}

#breakfasts a {
    text-decoration-line: none;
    color: black;
    font-weight: 500;
    color: white;
    text-shadow: 1px 1px 2px grey;
    text-transform: uppercase;
}

/*breakfast detail sections*/


.detail {
    margin-top: 70px;
    margin-left: 0;
    margin-right: 0;
    padding: 0 42px;
    position: relative;
    
}

.detail h2{
    text-align: center;
    margin: 24px 20%;
    padding: 8px auto;
    font-size: 32px;
    width: 60%;
}

.detail img {
    margin: 32px auto;
    padding: 0 30%;
}

.detail mark{
    background-color:transparent;
    font-weight: bold;
    font-size: 18px;
    word-spacing: 0.05em;
}
   
.detail sup {
    font-size: 12px;
    font-weight: bold;
    color:brown;
}

.detail sub {
    font-weight: 500;
    font-style: italic;
    color: darkgreen;
}
.detail h4{
    margin: 6px -8px;
    padding: 0 8px;
    color: white;
    width: 110px;
    background: brown;
}



.detail dl{
    padding: 0;
    margin: 0;
    color: brown;
    font-size: 14px;
}

.detail dt{
    font-weight: bold;
    font-style: italic;
    text-decoration:line-through;
}

/*American*/
#american section {
    
    margin: 16px 10%;
    padding: 24px 24px;
    background-color: #D1F5FF;
    box-shadow: 1px 1px 5px lightgrey;
    width: 80%;
}

/*Chinese*/
#chinese section {
    
    margin: 16px 10%;
    padding: 24px 24px;
    background-color: #FFE9D1;
    box-shadow: 1px 1px 5px lightgrey;
    width: 80%;
}

/*Japanese*/
#japanese section {
    
    margin: 16px 10% 64px 10%;
    padding: 24px 24px;
    background-color: #EBFFD1;
    box-shadow: 1px 1px 5px lightgrey;
    width: 80%;
    
}

/*back to top button*/
#toTop img{
    width:50px;
    transform: rotate(90deg);
    position: fixed;
    bottom: 100px;
    right: 2%;
    z-index: 1;
}

#toTop {
    position: relative;
}

/*footer*/

footer{ /*container*/
    display: flex;
    flex-wrap: wrap;
    background: #e29587;
    justify-content: flex-start;
    align-items: baseline;
}
footer section{
    display: inline-block;
    //background: yellow;
    padding: 0 5%;
    margin: 0px;
    flex: 1 1 280px;
    font-size: 14px;
}

footer p:first-child{
    font-weight: bold;
}

footer section:last-child {
    text-align: center;
}

/*grid-----------------------------------------------*/

/*grid switch*/

input{
    z-index: 50;
    margin: 10px 0 10px 40%;
}

input:checked+#grid {
    display: grid;
}

#grid {
    display: none;
    position: absolute;
    top: 10;
    left: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100%, auto);
    width: 100%;
    height: 380%;
    background: transparent;
    padding: 0;
    grid-gap: 20px;
    z-index: 1;
}

#grid p{
    margin: 0 0px;
    background: rgb(0,0,0,0.2);
}

/*mosaic layout*/
.mosaic{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4px;
    margin: 20px 5% 16px;
}

.mosaic p{
    border: 1px solid white;
    padding: 20px;
    margin: 0;
    background-color:gold;
}

#one {
    grid-column: 1/3;
}

#two {
    grid-column: 3/4;
}

#three {
    grid-row: 1/3;
    grid-column: 4/5;
}

#four {
    grid-column: 1/4;
}



/*--------------tablet----------------------------*/
@media screen and (max-width: 768px) and (min-width:600px) {
    
/*grid*/
#grid {
    display: none;
    position: absolute;
    top: 10;
    left: 0;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(100%, auto);
    width: 100%;
    height: 400%;
    background: transparent;
    padding: 0;
    grid-gap: 10px;
    z-index: 1;
    overflow: hidden;
}

#grid p{
    margin: 0 0px;
    background: rgb(0,0,0,0.2);
}   
    
}


/*-----------mobile phone-----------------------------*/
@media screen and (max-width:600px) {
    /*grid*/
#grid {
    display: none;
    position: absolute;
    top: 10;
    left: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100%, auto);
    width: 100%;
    height: 400%;
    background: transparent;
    padding: 0;
    grid-gap: 30px;
    z-index: 1;
    overflow: hidden;
}

#grid p{
    margin: 0 0px;
    background: rgb(0,0,0,0.2);
}   
    
/*back to top button*/
#toTop img{
    width: 50px;
    transform: rotate(90deg);
    position: fixed;
    bottom: 100px;
    right: 50%;
    left: 50%;
    z-index: 1;
}

#toTop {
    position: relative;
    
}

    /*nav list*/

#breakfasts ul{
    list-style: none;
    width:80%;
    padding: 0 10%;
    text-align: center;
    margin: 0 5% 24px 5%;
    display: inline-block;
    float:center;
}

#breakfasts li{
    float:left;
    width: 80%;
    display: block;
   justify-content: center;
    padding: 0 20px;
    
}

#breakfasts li:hover {
    border: 3px gold dotted;
}

#breakfasts li:first-child {
    background-color: cadetblue;
    padding: 8px;
}

#breakfasts li:first-child:hover {
    background-color: #50C7D5;
    padding: 8px;
    box-shadow: 1px, 3px, 4px, black;
}

#breakfasts li:nth-child(2) {
    background-color:coral;
    padding: 8px;
}

#breakfasts li:nth-child(2):hover {
    background-color: #F5B098;
    padding: 8px;
    box-shadow: 1px, 3px, 4px, black;
}

#breakfasts li:last-child {
    background-color:#6EDA84;
    padding: 8px;
}

#breakfasts li:last-child:hover {
    background-color: #BAFFA2;
    padding: 8px;
    box-shadow: 1px, 3px, 4px, black;
}

#breakfasts a {
    text-decoration-line: none;
    color: black;
    font-weight: 500;
    color: white;
    text-shadow: 1px 1px 2px grey;
    text-transform: uppercase;
}

    
}









